<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Все текстили</title>

</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">
                <img src="/public/imgs/letter-s.png" width="30" height="30" class="d-inline-block align-top" alt="">Zneakers
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/textiles">Текстиль<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clothes">Одежда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orders">Заказы</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Дополнительно
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/staffs">Сотрудники</a>
                        <a class="dropdown-item" href="/safetyRules">Правила</a>
                        <a class="dropdown-item" href="/qualities">Качество</a>
                        <a class="dropdown-item" href="/producers">Производители</a>
                        <a class="dropdown-item" href="/positions">Должности</a>
                        <a class="dropdown-item" href="/gosts">ГОСТы</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/defects">Дефекты</a>
                        <a class="dropdown-item" href="/consumers">Покупатели</a>
                        <a class="dropdown-item" href="/positions">Должности</a>
                    </div>
                </li>
                <li class="nav-item justify-content-center">
                <li class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                </li>

            </ul>

<!--            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" th:method="POST">-->
<!--                &lt;!&ndash;                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--                <button class="btn btn-dark my-2 my-sm-0" type="submit" value="Logout">LogOut</button>-->

<!--&lt;!&ndash;            </form>&ndash;&gt;      ЭТО КНОПКА ВЫХОДА-->
                <button class="btn btn-dark my-2 my-sm-0" href="/users">Профиль</button>
        </div>
    </nav>
</header>

<div class="container-sm">
    <div>
        <table class="table table-striped">
            <tr  class="bg-info">
                <th>Номер</th>
                <th>Название текстиля</th>
                <th>Описание</th>
            </tr>
            <tbody id="myTable">
            <tr th:each="textile : ${textiles}">
                <td>
                    <a th:href="@{/textiles/{id}(id=${textile.getId()})}" th:text="${textile.getId()}" target="_blank" />
                </td>
                <td th:text="${textile.getName()}">name</td>
                <td th:text="${textile.getType()}">desc</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<br/>
<hr/>

    <div class="row justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-info align-middle" href="/textiles/new" role="button">Добавить текстиль</a>
            <button type="button" class="btn btn-info">Отсортировать</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Количество записей
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">10 записей</a>
                    <a class="dropdown-item" href="#">20 записей</a>
                    <a class="dropdown-item" href="#">30 записей</a>
                    <a class="dropdown-item" href="#">Все записи</a>
                </div>
            </div>
        </div>
    </div>
<br/>
<hr/>
<!--<div class="row justify-content-center">-->
<!--    <nav aria-label="...">-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item disabled">-->
<!--                <a class="page-link" href="#" tabindex="-1" aria-disabled="false">Previous</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="#">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->
<div class="row justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>


</body>
</html>