<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все текстили</title>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout">
    </form>

</head>
<body>

<div th:each="textile : ${textiles}">
    <a th:href="@{/textiles/{id}(id=${textile.getId()})}"
       th:text="${textile.getName() + ', ' + textile.getType()}">textile</a>
</div>
<br/>
<hr/>

<a href="/textiles/new">Добавить текстиль</a>

</body>
</html>