<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>

<p th:text="${textile.getName() + ', ' + textile.getType()}">textile</p>
<form th:method="GET" th:action="@{/textiles/{id}/edit(id=${textile.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/textiles/{id}(id=${textile.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>